@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

/* shared styles */

.banner {
  max-width: 1320px;
  height: 600px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
}

.button {
  width: 140px;
  height: 48px;
  border-radius: 8px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

/* header related design */

.container {
  width: 80%;
  max-width: 1320px;
  margin: 50px auto;
}

.new-year {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/BannerImage.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-title h3 {
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 16px;
}

.banner-greetings h1 {
  color: #fff;
  max-width: 500px;
  text-align: center;
  font-family: Merriweather;
  font-size: 58px;
  font-weight: 900;
}

/* main section design */

.main {
  width: 80%;
  max-width: 1320px;
  margin: 120px auto;
}

/* holiday offer section style */

.holiday-discount {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main .holiday-discount .discount-title h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 70px;
  font-weight: 700;
}

.holiday-discount .discount-tagLine h3 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-top: 48px;
}

.holiday-discount .all-catagories h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 39px;
  font-weight: 700;
  margin-top: 16px;
}

.holiday-discount .holiday-offer-image {
  margin: 39px auto;
}

/* Midnight party section */

.midnight-party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('../images/Vectorrr.png');
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.party-info {
  margin-top: 126px;
}

.party-title {
  max-width: 510px;
  margin-left: 126px;
  margin-bottom: 24px;
}

.party-info .party-title h1 {
  color: #fff;
  font-family: Merriweather;
  font-size: 51px;
  font-weight: 900;
  letter-spacing: 5.5px;
}

.party-info .party-description {
  max-width: 558px;
  margin-left: 126px;
  margin-bottom: 48px;
}

.party-info .party-description h3 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
}

#midnight-party-join-now {
  margin-left: 160px;
}

#midnight-party-join-now h3 {
  color: #fff;
  text-align: left;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.party-2024 {
  margin-top: 68px;
  margin-right: 138px;
}

.party-2024 img {
  width: 260px;
  height: 370px;
  background: none;
}

.btn-party-join-now {
  background: none;
}

.btn-party-join-now:hover {
  color: #F00;
}

/* Event info section */

.event-info {
  margin-top: 120px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.event-details {
  margin: 100px auto;
}

.event-details p {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 56px;
}

.event-details-subject {
  font-family: Inter;
  color: #F00;
}

.btn-event-info {
  padding: 16px 32px;
  margin: 0 auto;
  background: #F00;
}

.btn-event-info:hover {
  background-color: darksalmon;
  color: black;
}

/* Best offer section */

.best-offer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.best-offer-coming-soon h3 {
  margin-bottom: 16px;
  color: #F00;
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
}

.best-offer-coming-soon h1 {
  margin-bottom: 22px;
  color: #070211;
  font-family: Merriweather;
  font-size: 40px;
  font-weight: 900;
  text-transform: capitalize;
}

.best-offer-coming-soon p {
  width: 320px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.best-offer-canvas {
  width: 370px;
  height: 370px;
  border-radius: 50%;
  border: 15px solid #F00;
}

.best-offer-canvas img {
  width: 290px;
  height: 290px;
  display: block;
  position: relative;
  margin: 40px;
}

.best-offer-2024 h3 {
  color: #F00;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.best-offer-2024 p {
  width: 270px;
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}

/* Holiday sale section */

.holiday-sale-container {
  margin-top: 120px;
}

.holiday-sale-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.holiday-sale-header h3 {
  color: #070211;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}

#holiday {
  color: #F00;
}

.holiday-sale-header h1 {
  font-family: Merriweather;
  font-size: 58px;
  font-weight: 900;
  margin-bottom: 28px;
}

.holiday-sale-header p {
  width: 800px;
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
}

.gift-box {
  margin-left: 100px;
}

.user-image {
  position: relative;
  margin-top: 64px;
  display: flex;
  justify-content: flex-end;
}

.image1 {
  position: relative;
  margin-top: 86px;
  margin-right: 285px;
}

.image2 {
  position: absolute;
  z-index: -1;
}

.box {
  position: absolute;
  margin-top: 250px;
}

.red-bar {
  margin-top: 40px;
  position: relative;
  z-index: -1;
}

/* Best gift section */

.best-gifts-container {
  margin-top: 120px;
}

.best-gifts-tagline {
  margin-bottom: 16px;
}

.best-gifts-tagline h3 {
  color: #F00;
  font-family: Inter;
  font-size: 19px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.best-gifts-title h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 39px;
  font-weight: 900;
}

.best-gifts-info {
  max-width: 820px;
  margin-top: 22px;
}

.best-gifts-info p {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.products-container {
  margin-top: 48px;
}

.products {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.products img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* Newletter section */

.newsletter {
  background: rgba(255, 0, 0, 0.05);
  margin-top: 120px;
}

.newsletter-logo {
  margin-top: 80px;
}

.subscribe-newsletter-text {
  margin-top: 40px;
  margin-bottom: 22px;
}

.subscribe-newsletter-text h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 39px;
  font-weight: 900;
}

.newsletter-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.newsletter-info {
  max-width: 720px;
  margin-bottom: 48px;
}

.newsletter-info p {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.subscribe-newsletter-field {
  display: table;
}

.subscribe-newsletter-field input {
  width: 520px;
  height: 48px;
  border-radius: 30px 0 0 30px;
  border: none;
}

::placeholder {
  color: rgba(7, 2, 17, 0.30);
  text-indent: 30px;
}

.btn-newsletter-subscribe {
  border-radius: 0px 30px 30px 0px;
  background: #F00;
}

.btn-newsletter-subscribe:hover {
  background-color: darksalmon;
  color: black;
}

.subscribe-newsletter-field input:focus {
  outline: none;
  text-indent: 30px;
}

/* footer section */

.footer {
  width: 100%;
  /* width: 1600px; */
  height: 610px;
  background: #070211;
  margin: 0 auto;
}

.footer hr {
  max-width: 1600px;
  margin: 50px auto;
  border-color: rgba(255, 255, 255, 0.15);
}

.footer-contact-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.footer-address {
  margin-top: 120px;
  margin-left: 140px;
}

.footer-address address {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.footer-contact {
  margin-top: 120px;
  margin-right: 295px;
  display: flex;
  flex-direction: column;
}

.footer-contact p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.footer-contact img {
  margin-right: 16px;
}

.footer-social-icons {
  margin: 48px auto;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.footer-copyright {
  margin: 50px 140px;
  display: flex;
  justify-content: space-between;
}

.footer-copyright p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.footer-social-icons img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 gray);
}